#foods{
  width: 90%;
  margin: 40px auto;
  justify-content: space-between;
}
#foods .foods-col-1{
  width: 73%;
  float: left;
  
}
#foods .foods-col-1 .food-head{
  width: 100%;
  align-items: center;
  display: flex;
  padding: 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#foods .foods-col-1 .food-head input{
  margin: 0;
  width: 250px;
  height: 30px;
  border: 1px solid #343A40;
  border-radius: 5px;
  outline: none;
  padding: 10px 10px;
}
#foods .foods-col-1 .food-head svg{
  margin: 0 20px;
  width: 26px;
  background-color: #FF5404;
  stroke: #fff;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
#foods .foods-col-2{
  width: 25%;
  float: right;
  margin: 0 auto 20px auto;
  padding-bottom: 30px;

}
#foods .foods-col-2 .food-menu{
  margin: 0 10%;
  text-align: center;
}
#foods .foods-col-2 .food-menu h3{
  text-align: left;
  color: #FF5404;
  margin-top: 0;
}

select {
  appearance: none;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 20px;
  color: #000;
  background-color: #f3f4f5;
  background-image: none;
  cursor: pointer;
  outline: 0;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px auto;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  color: #343A40;
  transition: .25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #FF5404;
}
#foods .foods-col-2 .food-menu button{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 45px;
  border: none;
  background-color: #343A40;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
#foods .foods-col-2 .food-menu button:hover{
  background-color: #FF5404;
}
#foods .foods-col-2 .food-menu hr{
  width: 100%;
  margin-bottom: 10px;
}
.shop{
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  display: block;
}
#foods .foods-col-2 .food-menu .shop h3{
  text-align: center;
  margin-top: 10px;
}
.shop img{
  width: 80px;
  margin-top: 20px;
}
#foods .foods-col-2 .food-menu .shop .shop-image img{
  width: 100%;
}
#foods .foods-col-2 .food-menu .shop hr{
  width: 90%;
  margin: 5px auto;
}
.shop-open div{
  width: 90%;
  display: inline-flex;
  margin: 0 auto;
  
}
.shop-open svg{
  width: 20px;
  float: left;
  margin: auto 5px auto 0;
}
.shop-open p{
  font-size: 15px;
  margin: auto 0;
  float: left;
}
.shop-open .shop-time{
  width: 100%;
  display: block;
}
.shop-open .shop-time .shop-time-row{
  width: 90%;
  justify-content: space-between;
  font-size: 15px;
}
.shop-open .shop-time .shop-time-row p{
  font-size: 13px;
}
.review{
width: 100%;
justify-content: center;
background-color: #ffffff;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
padding: 30px 3%;
border-radius: 5px;
display: block;
}
.star svg{
margin: 20px auto;
width: 25px;
}
.star svg:hover{
fill: #FF5404;
stroke: #FF5404;
}
.review textarea{
width: 100%;
}




.main{  
    width: 90%;  
    margin: 50px auto;  
    position: relative;  
    overflow: hidden;  
    height: 800px;
}  
.btn-box{  
    display: block;  
}  
.btn{  
    padding: 10px 20px;  
    border: 0;  
    cursor: pointer;  
    background: transparent;  
    font-size: 1em;  
}  
.content{  
    width: 100%;
    background: #ffffff;  
    position: absolute;  
    padding: 20px;  
    color: #343A40; 
    transform: translateX(100%);  
    transition: .5s;  
}  
.content p{  
    margin: 20px 0;  
    font-weight: 300;  
}  
.hero-btn{  
    background: #fff;  
 color: #111;  
 max-width: 150px;  
 border-radius: 32px;  
 padding: 13px 32px;  
 text-decoration: none;  
 margin-top: 20px;  
 display: inline-block;  
 transition: .5s;  
}  
.hero-btn:hover{  
    background: red;  
    color: #fff;  
}  
#content1{  
    transform: translateX(0px);  
}  
.btn.active{  
    background: #FF5404;  
    color: #fff;  
}  
.content table{
border-collapse: collapse;
}
.content table th, td{
border: 1px solid #343A40;
}
#content3{
display: inline-block;
}
#content3 select, #content3 input{
color: #343A40;
width: 18%;
height: 30px;
border: 1px solid #343A40;
border-radius: 2px ;
outline: none;
padding: 5px 20px;
}
#content3 button{
margin-top: 20px;
color: #fff;
background-color: #FF5404;
border: none;
padding: 10px 40px;
cursor: pointer;
}
#content4 .profile form{
margin-top: 30px;
}
#content4 .profile form .prfile-contact-row{
margin: 20px;
}
#content4 .profile form input{
outline: none;
border-radius: 2px;
margin-right: 10px;
border: 1px solid #343A40;
height: 35px;
width: 300px;
}
#content4 .profile form button{
margin-top: 20px;
color: #fff;
background-color: #FF5404;
border: none;
padding: 10px 40px;
cursor: pointer;
}
#food_detail{
width: 85%;
margin: 50px auto;
display: flex;
}
#food_detail .food-detail-col-1{
width: 50%;
margin: 0;
}
#food_detail .food-detail-col-1 img{
width: 100%;
border: 1px solid #FF5404;
}

#food_detail .food-detail-col-2{
width: 50%;
padding-left: 30px;
}
#food_detail .food-detail-col-2 h2{
  font-weight: bold;
}
#food_detail .food-detail-col-2 #price{
color: #FF5404;
margin-top: 10px;
font-size: 25px;
font-weight: bold;
border: none;
outline: none;
background-color: none;
cursor: none;
}
#food_detail .food-detail-col-2 p{
margin-top: 15px;
font-weight: bold;
}
#food_detail .food-detail-col-2 select{
border: 1px solid #343A40;
border-radius: 2px;
width: 250px;
text-align: center;
padding: 8px;
}
#food_detail .food-detail-col-2 .food_sub_detail{
display: flex;
align-items: center;
margin: 20px 0;
}
#food_detail .food-detail-col-2 .food_sub_detail p{
margin: 0 20px;
font-weight: normal;
}
#food_detail .food-detail-col-2 .food_sub_detail svg{
width: 20px;
fill: #FF5404;
stroke: none;
background-color: none;
background: none;
margin: 0 ;
}
#food_detail .food-detail-col-2 svg{
width: 40px;
margin: 20px 20px 0 0;
background-color: #FF5404;
}
#food_detail .food-detail-col-2 div input{
width: 150px;
color: #111;
border: none;
background-color: #dedfe0;
text-align: center;
height: 40px;
margin-bottom: 20px;
}
#food_detail .food-detail-col-2 .button-container{
  display: inline-block;
}
#food_detail .food-detail-col-2 .button-container button{
margin-bottom: 20px;
height: 40px;
width: 35px;
border: none;
color: #fff;
background-color: #FF5404;
text-align: center;
padding: 0;
cursor: pointer;
float: left;
}
#food_detail .food-detail-col-2 .button-container input{
  border: none;
  outline: none;
  float: left;
}
#food_detail .food-detail-col-2 .addbtn{
  align-items: center;
}
#food_detail .food-detail-col-2 .addbtn input{
padding: 15px 35px;
color: #fff;
background-color: #FF5404;
border: none;
height: 50px;
margin: 0 40px 0 0;
font-size: 15px;
cursor: pointer;
float: left;
}


#food_detail .food-detail-col-2 input.addons{
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-top: 15px;
}
#food_detail .food-detail-col-2 .fav_btn{
  width: 50px;
  height: 50px;
  border: 1px solid #adadad;
}
#food_detail .food-detail-col-2 .fav_btn svg{
  background-color: transparent;
fill: #ffffff;
stroke:  #636363;
cursor: pointer;
transition: 0.5s;
width: 30px;
height: 30px;
margin: 0;
padding: 0;
}
#food_detail .food-detail-col-2 .fav_btn svg:hover{
  fill: #FF5404;
  stroke: #FF5404;
}


    /*show cart page start*/
    .cart-container {
      width: 90%;
      margin: 30px auto;
    }
    .cart-container table{
      border-collapse: collapse;
    }
    .cart-container table.main-table{
      width: 100%;
    }
    .cart-container table th,.cart-container table td{
      border: 1px solid #343A40;
      padding: 10px;
    }
    .table-head img{
      width: 80px;
      float: left;
      margin-right: 20px;
    }
    .table-head h4{
      color: #FF5404;
      padding-left: 20px;
    }
    .main-table th{
      background-color: aquamarine;
      text-align: center;
    }
    .sub-table th{
      background-color: bisque;
      text-align: center;
    }
    .sub-table {
      width: 100%;
    }
    .sub-table tbody img{
      width: 50px;
    }
    .sub-table td{
      margin: 0 auto;
      text-align: center;
    }
    .sub-table .button-container{
      display: block;
      margin: 0;
      text-align: center;
      align-items: center;
    }
    .sub-table .button-container button{
      color: #fff;
      background-color: #FF5404;
      border: none;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      cursor: pointer;
    }
    .sub-table .button-container input{
      margin: 0;
      height: 32px;
      text-align: center;
    }
    .totPrice{
      width: 400px;
      margin-top:20px;
      margin-bottom:20px;
      float: right;
      padding-left: 40px;
      padding-top: 20px;
      display: block;
      border-radius: 8px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .totPrice strong{
      color: #FF5404;
      font-size: 25px;
    }
    .totPrice button{
      background-color: #FF5404;
      border: none;
      color: #fff;
      width: 150px;
      margin-bottom: 20px;
      padding: 10px;
      font-size: 15px;
      transition: 0.6s;
      cursor: pointer;
    }
    .totPrice button:hover{
      background-color: #343A40;
      color: #fff;
    }
/*account page start*/
.main{  
  width: 90%;  
  margin: 50px auto;  
  position: relative;   
  overflow-x: hidden;
  overflow-y: auto;
  height: 550px;
}  
.main .btn-box{  
  display: block;  
}  
.btn{  
  padding: 10px 20px;  
  border: 0;  
  cursor: pointer;  
  background: transparent;  
  font-size: 1em;  
}  
.content{  
  width: 100%;
  background: #e0e0e0;  
  position: absolute;  
  padding: 20px;  
  margin-bottom: 100px;
  color: #343A40; 
  transform: translateX(100%);  
  transition: .5s;  
  border-top: 2px solid #FF5404;
}  
.content p{  
  margin: 20px 0;  
  font-weight: 300;  
}  

#content1{  
  transform: translateX(0px);  
}  
.btn.active{  
  background: #FF5404;  
  color: #fff;  
  border-radius: 0;
  margin: 0;
}  
.content table{
border-collapse: collapse;
}
.content table th, .content table td{
border: 1px solid #343A40;
}
#content3{
display: inline-block;
}
#content3 select, #content3 select input{
color: #343A40;
width: 18%;
height: 30px;
border: 1px solid #343A40;
border-radius: 2px ;
outline: none;
padding: 5px 20px;
}
#content3 button{
margin-top: 20px;
color: #fff;
background-color: #FF5404;
border: none;
padding: 10px 40px;
cursor: pointer;
}
#content4 .profile form{
margin-top: 30px;
}
#content4 .profile form .prfile-contact-row{
margin: 20px;
}
#content4 .profile form input{
outline: none;
border-radius: 2px;
margin-right: 10px;
border: 1px solid #343A40;
height: 35px;
width: 300px;
}
#content4 .profile form button{
margin-top: 20px;
color: #fff;
background-color: #FF5404;
border: none;
padding: 10px 40px;
cursor: pointer;
}

/*account page end*/









@media screen and (max-width:1030px){
.shop-open .shop-time .shop-time-row{
display: inline-block;
}
}



@media screen and (max-width:600px){
#food_detail{
width: 90%;
display: block;
}
#food_detail .food-detail-col-1{
width: 100%;
}
.food-detail-col-1 img{
width: 100%;
}

#food_detail .food-detail-col-2{
width: 100%;
}
.main .btn-box{
display: block;
}
.main{
width: 500px;
}
.main .content{
width: 500px;
}
}
